<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2019 Unbxd Inc.
 */
-->

<!--
/**
 * Init development:
 * @author andy
 * @email andyworkbase@gmail.com
 * @team MageCloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- START: analytics -->
    <type name="Unbxd\Analytics\Model\EventDataProvider">
        <arguments>
            <argument name="eventDataReaderPool" xsi:type="array">
                <item name="product_view" xsi:type="object">Unbxd\Analytics\Model\EventDataProvider\ProductPageView</item>
                <item name="cart" xsi:type="object">Unbxd\Analytics\Model\EventDataProvider\AddToCart</item>
                <item name="cartRemoval" xsi:type="object">Unbxd\Analytics\Model\EventDataProvider\RemoveFromCart</item>
                <item name="order" xsi:type="object">Unbxd\Analytics\Model\EventDataProvider\OrderPlace</item>
            </argument>
        </arguments>
    </type>
    <type name="Unbxd\Analytics\Model\EventDataProvider\AbstractProvider">
        <arguments>
            <argument name="registryKey" xsi:type="string">unbxd_analytics</argument>
        </arguments>
    </type>
    <!-- END: analytics -->
</config>